@model List<ResultQuestDto>
@{
	ViewData["Title"] = "Soru-Cevap";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered table-hover">
	@{
		int count = 0;
	}
	<tr>
		<th>#</th>
		<th>Soru</th>
		<th>Cevap</th>
		<th>İşlemler</th>
	</tr>
	@foreach (var item in Model)
	{
		count++;
		<tr>
			<th>@count</th>
			<td>@item.Question</td>
			<td>@item.Answer</td>
			<td>
				<button onclick="deleteQuestion(this)" id="@item.QuestId" class="btn btn-danger">Sil</button>
				<a asp-controller="Question" asp-action="UpdateQuestion" asp-route-id="@item.QuestId" class="btn btn-info">Güncelle</a>
			</td>
		</tr>
	}
</table>
<a asp-controller="Question" asp-action="CreateQuestion" class="btn btn-dark">Yeni Soru-Cevap Ekle</a>

<script>

	function deleteQuestion(button){
		var id =button.getAttribute("id");
		Swal.fire({
	  title: "Silmek İstediğinize Emin Misiniz?",
	  text: "Bu işlemi geri alamazsınız!",
	  icon: "warning",
	  showCancelButton: true,
	  confirmButtonColor: "#3085d6",
	  cancelButtonColor: "#d33",
	  confirmButtonText: "Evet, Sil!",
	  cancelButtonText:"İptal"
	}).then((result) => {
	  if (result.isConfirmed) {
		window.location.href="/Question/DeleteQuestion/"+id;
	};

	});
	};
</script>
